<div class="container">
  <div class="row">
    <div class="col-md-12">
      <center><h1><strong>Welcome to FedEx Institute of Technologies</strong></h1></center>
    </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <div class="tile purple">
        <h3 class="title">Purple Tile</h3>
        <iframe src="https://www.youtube.com/embed/7d_5AwmMY1U" frameborder="0" allowfullscreen = "true"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile red">
        <h3 class="title">Red Tile</h3>
          <iframe src="https://drive.google.com/file/d/0B-O_42mmbdwvYlloRUFDRTd3WGc/preview" frameborder="0" allowfullscreen = "true"></iframe>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile orange">
        <h3 class="title">Orange Tile</h3>
        <p>Hello Orange, this is a colored tile.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="tile green">
        <h3 class="title">Green Tile</h3>
        <p>Hello Green, this is a colored tile.</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="tile blue">
        <h3 class="title">Blue Tile</h3>
        <p>Hello Blue, this is a colored tile.</p>
      </div>
    </div>    
    <div class="col-sm-4">
      <div class="tile brown">
        <h3 class="title">Brown Tile</h3>
        <p>Hello Brown, this is a colored tile.</p>
      </div>
    </div>    
  </div>
</div>