<div id="top" style="margin-top: 15px" class="container dynamicTile">
<div class="row">
    <div id="parent" class="col-sm-4">
      <div id="tile" class="tile">
      <a href="http://www.memphis.edu/fedex/research" target="_blank">
        <img src="fit_logo.png" width="360" height="320"/>
        </a>
      </div>
    </div>
  <div id="parent" class="col-sm-4">
      <div id="tile" class="tile">
        <video id="myvid" style="display: block;" width="360" height="320" controls id="video" poster="cybersecurity.jpg" src="cybersecurity.mp4">
      </div>
    </div>
  <div id="parent" class="col-sm-4">
      <div id="tile" class="tile">
        <video id="myvid1" style="display: block;" width="348" height="320" controls id="video"  poster="iis.jpg" src="iis.mp4">
        </video>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
  <div id="parent" class="col-sm-3">
      <div id="tile" class="tile">
        <video id="myvid2" style="display: block;" width="250" height="160" controls id="video"  poster="md2k.jpg" src="md2k.mp4">
        </video>
      </div>
      <br />
      <div id="tile" class="tile">
        <video id="myvid3" style="display: block;" width="250" height="160" controls id="video"  poster="md2k.jpg" src="md2k_1.mp4">
        </video>
      </div>
      </div>
  <div id="parent" class="col-sm-3">
      <div id="tile" class="tile">
        <video id="myvid4" style="display: block;" width="250" height="160" controls id="video"  poster="drones.jpg" src="drones1.mp4">
        </video>
      </div>
      <br />
      <div id="tile" class="tile">
        <video id="myvid5" style="display: block;" width="250" height="160" controls id="video"  poster="drones.jpg" src="drones2.mp4">
        </video>
      </div>
    </div>
      <div id="parent" class="col-sm-6">
      <div id="tile" class="tile">
       
        <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
               <img src="tech_welcome.jpg" style="width:550px !important;height:320px !important;">
            </div>
            <div class="item">
               <img src="front_hackmemphis.jpg" style="width:550px !important;height:320px !important;">
            </div>
            <div class="item">
               <img src="front-stjude.jpg" style="width:550px !important;height:320px !important;">
            </div>
            <div class="item">
               <img src="front_agile.jpg" style="width:550px !important;height:320px !important;">
            </div>
            <div class="item">
               <img src="step.jpg" style="width:550px !important;height:320px !important;">
            </div>
            </div>
         </div>
    </div>
  </div>
  </div>
</div>

<script type="text/javascript">
var video= $('#myvid')[0]; 
var videoJ= $('#myvid');        
videoJ.on('ended',function(){
    video.load();     
});

var video1= $('#myvid1')[0]; 
var videoJ1= $('#myvid1');        
videoJ1.on('ended',function(){
    video1.load();     
});

var video2= $('#myvid2')[0]; 
var videoJ2= $('#myvid2');        
videoJ2.on('ended',function(){
    video2.load();     
});

var video3= $('#myvid3')[0]; 
var videoJ3= $('#myvid3');        
videoJ3.on('ended',function(){
    video3.load();     
});

var video4= $('#myvid4')[0]; 
var videoJ4= $('#myvid4');        
videoJ4.on('ended',function(){
    video4.load();     
});

var video5= $('#myvid5')[0]; 
var videoJ5= $('#myvid5');        
videoJ5.on('ended',function(){
    video5.load();     
});
</script>