<div class="container dynamicTile">
<div class="row">
    <div class="col-sm-4">
      <div id="tile1" class="tile">
        <img src="fit_logo.png" width="350" height="350"/>
      </div>
    </div>
  <div class="col-sm-4">
      <div id="tile1" class="tile">
        <video style="display: block;" width="350" height="350" controls id="video" poster="cybersecurity.jpg" src="cybersecurity.mp4">
      </div>
    </div>
  <div class="col-sm-4">
      <div id="tile1" class="tile">
        <video style="display: block;" width="350" height="350" controls id="video"  poster="iis.jpg" src="iis.mp4">
        </video>
      </div>
    </div>
  </div>
<br />
  <div class="row">
  <div class="col-sm-3">
      <div id="tile1" class="tile">
        <video style="display: block;" width="250" height="175" controls id="video"  poster="md2k.jpg" src="md2k.mp4">
        </video>
      </div>
      <br />
      <div id="tile1" class="tile">
        <video style="display: block;" width="250" height="175" controls id="video"  poster="md2k.jpg" src="md2k_1.mp4">
        </video>
      </div>
      </div>
  <div class="col-sm-3">
      <div id="tile1" class="tile">
        <video style="display: block;" width="250" height="175" controls id="video"  poster="drones.jpg" src="drones1.mp4">
        </video>
      </div>
      <br />
      <div id="tile1" class="tile">
        <video style="display: block;" width="250" height="175" controls id="video"  poster="drones.jpg" src="drones2.mp4">
        </video>
      </div>
    </div>
      <div class="col-sm-6">
    <div id="tile3" class="tile">
       
        <div class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
               <img src="front_agile.jpg" style="width:545px !important;height:370px !important;">
            </div>
            <div class="item">
               <img src="front_hackmemphis.jpg" style="width:545px !important;height:370px !important;">
            </div>
            <div class="item">
               <img src="front-stjude.jpg" style="width:545px !important;height:370px !important;">
            </div>
            </div>
         </div>
    </div>
  </div>
  </div>
  </div>
